
.top h1 {font-size: 28px; font-weight: bold;}
.nav ul li a {font-size: 14px;}
.nav h3 {font-size: 25px; font-weight: bold; margin-top: 6px;}

.top h3 span {font-weight: normal; font-family: Arial;}

.banner-content h2 {font-weight: bold; font-size: 43px;}
.banner-content h3 {font-style: italic; font-weight: bold; font-size: 43px;}

.banner-right p {font-size: 13px;}

.box-heading h3 span {font-size: 18px;}
.seven-lies p {font-size: 13.4px;}
.seven-lies ul li {font-size: 15px;}
.seven-lies {padding-bottom: 10px;}

.about-left p {font-size: 13px;}
.about-right .small-text {font-size: 11px;}


